<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">

  <a class="navbar-brand" [routerLink]="['/']" active="false">
    CryptoXScanner | Binance</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse justify-content-end"
       id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item" [routerLink]="['/binance/monitor']"
          [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/binance/monitor']">Monitor</a>
      </li>
      <li class="nav-item" [routerLink]="['/binance/live']"
          [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/binance/live']">Live</a>
      </li>
      <li class="nav-item" [routerLink]="['/binance/netvolumez']"
          [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/binance/netvolumez']">Net Volumez</a>
      </li>
      <li class="nav-item" [routerLink]="['/binance/newvolume']"
          [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/binance/newvolume']">New Volume</a>
      </li>
    </ul>

    <ul class="navbar-nav">

      <!-- Twitter link... -->
<!--      <li class="nav-item">-->
<!--        <a href="https://twitter.com/crankykernel" target="_blank"-->
<!--           class="nav-link">Follow <i class="fab fa-twitter"></i></a>-->
<!--      </li>-->

      <!-- Post to twitter... -->
<!--      <li class="nav-item">-->
<!--        <a href="https://twitter.com/intent/tweet?text=Binance%20Monitor%20-%20https://cryptoxscanner.com/"-->
<!--           class="nav-link" target="_blank">Share <i class="fab fa-twitter"></i></a>-->
<!--      </li>-->

      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0);" data-toggle="modal"
           data-target="#aboutModal">About</a>
      </li>

    </ul>
  </div>

</nav>


<router-outlet></router-outlet>

<!-- Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Contact</h5>
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <dl>
          <dt>Source Code and Issue Tracker</dt>
          <dd><a href="https://gitlab.com/crankykernel/cryptoxscanner"><i
              class="fab fa-gitlab"></i> GitLab</a></dd>
          <dt></dt>
        </dl>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-block"
                data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
