<div class="container">

  <br/>

  <div class="row">
    <div class="col">
      <a [routerLink]="['/binance/monitor']" type="button" href="" role="button"
         class="btn btn-secondary btn-block">Binance Gainers/Losers</a>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col">
      <a [routerLink]="['/binance/screener']" type="button" href=""
         role="button"
         class="btn btn-secondary btn-block">Binance Live</a>
    </div>
  </div>

  <br/>

  <div class="card border-warning">
    <div class="card-header bg-warning align-content-center">
      Scanner Now in Maintenance Mode
    </div>
    <div class="card-body">
      I have stopped developing and maintaining this scanner. It will stay up for a while
      longer, but issues and breakages are unlikely to be fixed.
    </div>
  </div>

  <br/>

  <div class="card border-info">
    <div class="card-header align-content-center">
      Updates
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        <b>2019-08-07</b>
        <ul>
          <li>Dropped support for BNB and ETH pairs.  This leaves only BTC and USDT pairs.</li>
          <li>Due to a bad design decision, as Binance adds more pairs the scanner eventually
          fails to listen to the trade streams, so I have to limit the pairs monitored.</li>
          <li>I may or may not make a proper fix for this in the future.</li>
        </ul>
      </li>
      <li class="list-group-item">
        <b>2019-02-20</b>
        <ul>
          <li>
            KuCoin support is now gone. They have changed their API and I don't see updating my code for KuCoin
            in the near future.
          </li>
        </ul>
      </li>
      <li class="list-group-item">
        <b>2019-02-15</b>
        <ul>
          <li>Remove dark theme. Too much time to support. Go install <a href="https://darkreader.org/">Dark Reader</a>
            if you must have a dark theme.
          </li>
        </ul>
      </li>
      <li class="list-group-item">
        <b>2019-01-16</b>
        <ul>
          <li>
            Along the theme of making this scanner MIT license, I have removed the high of HighCharts
            with the MIT licensed Chart.js. I'm not sure how useful these charts are, they are only used
            for the <b>ticker</b> and the <b>order book</b>.
            <br/>
            Candlestick charts are still provided by the Trading View widget, but thats more of an embed link than
            actually pulling the code into the project.
          </li>
        </ul>
      </li>
      <li class="list-group-item">
        <b>2019-01-15</b>
        <ul>
          <li>The code for this scanner is now MIT licensed.</li>
        </ul>
      </li>
      <li class="list-group-item">
        <b>2018-12-21</b>
        <ul>
          <li>Add 24h change, high, low and volume to symbol view.</li>
          <li>Add buy and sell volumes for 1m to 60m on symbol view.</li>
          <li>Previously a GET request was made to the scanner every second to update the order book. Now an initial
            request will be done to seed the order book but then a websocket is opened to Binance to get order book
            updates. The primary reason here was to reduce some load on my server. But order books updates should be
            more timely now, if even only by a few milliseconds.
          </li>
        </ul>
      </li>
      <li class="list-group-item">
        <b>2018-11-30</b>
        <ul>
          <li>Removed KuCoin support to focus on Binance features.</li>
        </ul>
        <b>2018-05-07</b>
        <ul>
          <li>Source code is now available on <a
              href="https://gitlab.com/crankykernel/cryptoxscanner">GitHub</a>.
          </li>
          <li>Issue tracker also moved to <a
              href="https://gitlab.com/crankykernel/cryptoxscanner/issues">GitHub</a>.
          </li>
        </ul>
      </li>
      <li class="list-group-item">
        <b>2018-05-02</b>
        <ul>
          <li>Separate the gain and drop alerts from each other, eaching having
            their own percentage threshold.
          </li>
          <li>
            Add a minimum 24h volume to the alert conditions.
          </li>
          <li>
            Add a volume alert which is based on a percentage change relative to
            the 24 hour volume over a smaller interval of time.
          </li>
          <li>
            Remove the count option on the gainers/losers/volume tables in
            preparation for filtering these server side to reduce bandwidth.
          </li>
        </ul>
      </li>
      <li class="list-group-item">
        <b>2018-04-30</b>
        <ul>
          <li>On the symbol page hit the <b>/</b> key to quickly change to
            another symbol.
          </li>
          <li class="invalid">
            <a href="https://trello.com/b/scgoN2SC/crypto-monitor">Trello</a>
          </li>
          <li class="invalid">
            <a href="https://gitlab.com/crankykernel/tokenfx/issues">Issue
              Tracker</a>
          </li>
        </ul>
      </li>
      <li class="list-group-item">
        <b>2018-04-24</b>
        <ul>
          <li>The top gainers and losers on the <a
              [routerLink]="['/binance/monitor']">monitor</a> will display the
            top 10 gainers and losers instead of just those matching the
            filters. Gainers and losers matching the filters will appear in the
            alerts panel.
          </li>
          <li>Added 2m, 3m and 4m net volume to the <a
              [routerLink]="['/binance/live']">live</a> views.
          </li>
          <li>Added desktop notifications for alerts.</li>
        </ul>
      </li>
      <li class="list-group-item">
        <b>2018-04-23</b>
        <ul>
          <li>Remove donation links.</li>
          <li>
            The <b>top gainers</b> and <b>top losers</b> now display the top 10
            (default) losers and gainers instead of just those that have broke
            the threshold. The alert panel above the <i>top</i> tables will
            display
            those that have broke the thresholds, so I found these tables better
            used to display the current state of the market.
          </li>
        </ul>
      </li>
      <li class="list-group-item">
        <b>2018-04-20</b>
        <ul>
          <li>Remove Google Analytics. Most of you are blocking it anyways.</li>
        </ul>
      </li>
      <li class="list-group-item">
        <b>2018-04-18</b>
        <ul>
          <li>Added basic charts for Binance symbols.</li>
        </ul>
      </li>
      <li class="list-group-item">
        <b>2018-04-08</b>
        <ul>
          <li>Automatically purge alerts that are an hour old and the price no
            longer matches the threshold.
          <li>
            On the live display, add a check box that will "watch" a symbol by
            keeping it pinned to the top.
          </li>
        </ul>
      </li>
      <li class="list-group-item">
        <b>2018-04-07</b>
        <ul>
          <li>Trying out price based alerts on the monitor screens. When a
            price
            gains or looses more than the threshold it will pop up in the
            alert
            display and stay there until cleared.
            <br/>
            The alert panel is easily disabled if its annoying, and its
            still a
            work in progress.
          </li>
        </ul>
      </li>
      <li class="list-group-item">
        <b>2018-04-04</b>
        <ul>
          <li>Allow the columes you want to see/hide in the "live" view to
            be
            configured.
          </li>
          <li>Added net volume to the "Binance Live" view. The net
            volume is the sell volume subtracted from the buy volume.
            Inspired
            by <a href="https://twitter.com/CryptoZyzz">CryptoZyzz</a>'s work
            at
            <a
                href="https://agile-cliffs-23967.herokuapp.com/binance">https://agile-cliffs-23967.herokuapp.com/binance</a>.
            The goal is to work it into some sort of alert/indicator.
            <br/>
            Unfortunately net volume is not persisted between restarts of
            the
            backend due to lack of memory on the server. This will be
            addressed
            soon.
          </li>
          <li>Make the columns on the "monitor" views sortable.</li>
        </ul>
      </li>
    </ul>
  </div>

</div>
